<div id="before-ask" class="navbar">
    <strong>Před položením dotazu</strong> se nejprve podívejte do často kladených otázek, zda v nich nenaleznete odpověď na vaši otázku. Ušetříte tak čas.
    <div>
        <strong>
            <img src="/images/firefox-16.png">
            <a href="http://www.mozilla.cz/podpora/firefox/reseni-nejcastejsich-problemu/">Často kladené otázky k Firefoxu</a>
        </strong>
        <strong>
            <img src="/images/thunderbird-16.png">
            <a href="http://www.mozilla.cz/podpora/thunderbird/">Často kladené otázky k Thunderbirdu</a>
        </strong>
    </div>
</div>

