<div id="sumo-announcement" class="navbar">
    <strong>Podpora aplikací Mozilla byla přesunuta na server Podpora Mozilly na adrese <a href="https://support.mozilla.org/cs/">https://support.mozilla.org/cs/</a>.</strong>
    <div>
        <strong>
            <img src="/images/firefox-32.png">
            <a href="https://support.mozilla.org/cs/questions/new/desktop">Položit dotaz k Firefoxu</a>
        </strong>
        <strong>
            <img src="/images/fennec-32.png">
            <a href="https://support.mozilla.org/cs/questions/new/mobile">Položit dotaz k Firefoxu pro Android</a>
        </strong>
        <strong>
            <img src="/images/thunderbird-32.png">
            <a href="https://support.mozilla.org/cs/questions/new/thunderbird">Položit dotaz k Thunderbirdu</a>
        </strong>
    </div>
</div>

