/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:			prosilver (the default phpBB 3.1.x style)
	Based on style:		
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		phpBB Limited ( https://www.phpbb.com/ )
    --------------------------------------------------------------
*/

@import url("imageset.css");

#before-ask {
    text-align: center;
    font-size: 1.2em;
    color: black;
    padding: 0.8em;
}

#before-ask div {
    margin-top: 0.8em;
}

#before-ask img {
    margin-right: 0.2em;
}

#before-ask div strong {
    margin-right: 1.3em;
    white-space: nowrap;
}
